body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('Imagens/Capa.jpg');
    background-repeat:no-repeat;
    background-size: 570px;
}
header{
    background-color: #0C73E8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    align-items: center;
    padding-right: 35em;
}
header p{
    padding-left: 9em;
    font-size: 3em;
}
main a{
    text-decoration: none;
    color: white;
    font-size: 3em ;
}
main ul li{
    background-color: #24a1aa;
    margin-left: 50em;
}
footer{
    color: white;
    background-color: #0C73E8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    align-items: center;
    
}