*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #074d5d;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main{
    display: flex;
    justify-content: space-between;
}
main article h2{
    font-size: 4em;
    color: white;
    margin-bottom: 0.4em;
}

main article section{
    background-image: linear-gradient(to right, rgb(1, 136, 91), #003819);
    max-width: 50em;
    display: flex;
    padding: 3em;
    margin-right: 5em;
}
main article section.blade{
    margin-bottom: 1em;
}
main article section h2{
    font-size: 2em;    
}
main article section p{
    color: white;
    font-size: 2em;
}