*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main{
    background-image: url(imagens/main_art.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

main article{
    margin-left: 2em;
    max-width: 10em;
    color: white;
    height: 100%;
    font-size: 1.5em;
}
main article a{
    color: white;
}
main section figure{
    display: grid;
    background-image: linear-gradient(aqua, purple);
    gap: 4em;
}
main section figure img{
    height: 100%;
}