*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    height: 100vh;
}
header{
    max-width: 15rem;
    background-color: #487979;
    padding: 3em;
}
header nav{
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 2em;
    margin-top: 2em;
}
header nav a{
    color: white;
    text-decoration: none;
}
main{
    margin-top: 2em;
    margin-left: 2em;
    width: 100%;
}
main article{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    margin-top: 2em;
    max-width: 70rem;
}
section h2{
    flex-basis: 100%;
}
section div{
    width: 12em;
    height: 13em;
    border: 1px solid rgb(177, 175, 175);
}
section div p{
    background-color: rgb(224, 224, 224);
    text-align: center;
    height: 40px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 8em;
}
section div figure{
    text-align: center;
    margin-top: 2em;
}
section div figure img{
    padding-left: 0.5em;
    padding-right: 0.5em;
}